<h1>ALO ALO</h1>


<form id="createForm">
        <label for="">Nombre</label>
        <input type="text" name="name" id="" placeholder="Ingresa el nombre"> 
        <label for="">Correo</label> 
        <input type="email" name="email" id="" placeholder="Ingresa el email">    
        <label for="">Contraseña</label>
        <input type="password" name="password" id="" placeholder="Ingresa tu contraseña">

    <button type="submit"> Crear usuario</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/users.js"></script>


{{#each products}}

<ul>
    <label for="">Producto</label>
    <li>this.name</li>
    <label for="">Precio</label>
    <li>this.price</li>


</ul>
{{/each}}

